@import '../styles/mixins.scss';
@import '../styles/colors.scss';

.blog {
  @include media-query-page;
  h2,
  h3 {
    margin-bottom: 4px;
    margin-top: 32px;
  }
  img {
    width: 100%;
    border: 1px solid $grey;
  }
  p {
    margin: 8px 0px;
  }
}
.blog > blockquote {
  position: relative;
  padding: 10px 15px 10px 40px;
  box-sizing: border-box;
  font-style: oblique;
  background: $white;
  color: $grey;
  border-left: 4px solid $secondary;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.14);
  margin-left: 16px;
  &:before {
    display: inline-block;
    position: absolute;
    top: 15px;
    left: 15px;
    content: '“';
    color: $secondary;
    font-size: 30px;
    line-height: 1;
    font-weight: 900;
  }
  p {
    padding: 0;
    margin: 7px 0;
    line-height: 1.7;
  }
  cite {
    display: block;
    text-align: right;
    color: $grey;
    font-size: 0.9em;
  }
}
.title {
  color: $black;
  margin-top: 0;
  border-bottom: 2px dashed $grey;
}
.date {
  color: $grey;
  font-weight: bold;
  margin-bottom: 4px;
}
