@import '../colors.scss';
@import '../mixins.scss';

.blogs {
  h2 {
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
  }
  hr {
    margin-bottom: 1rem;
  }
}
.search {
  display: flex;
  margin-bottom: 2rem;
  @media (min-width: 750px) {
    justify-content: flex-end;
  }
}
