@import '../colors.scss';
@import '../mixins.scss';

.blogs {
  h2 {
    margin-bottom: 8px;
    margin-top: 8px;
  }
  hr {
    margin-bottom: 16px;
  }
}
.search {
  display: flex;
  margin-bottom: 20px;
  @media (min-width: 750px) {
    justify-content: flex-end;
  }
}
