@import '../colors.scss';
@import '../mixins.scss';

.index {
  @media (min-width: 750px) {
    margin: 20px 25% 0 25%;
  }
  /* mobile */
  @media (max-width: 749px) {
    margin: 20px 5% 0 5%;
  }
  color: $grey;
  h1,
  h2,
  h3 {
    color: $primary;
  }
}
