/* color palette */
$grey: #595959ff;
$light-grey: #a0aab2ff;
$black: #202020ff;
$white: #f7f7f7;
$beige: #f2e9dcff;
$navy: #22333bff;
$red: #ecb6b6ff;
$dark-red: #440d0fff;
$primary: #698474ff;
$secondary: #808f85ff;
$accent: #cfd11aff;

@media (prefers-color-scheme: dark) {
  /* add here dark mode color */
}
