@import './colors.scss';
@import '../styles/mixins.scss';

body {
  margin: 0;
  background-color: $white;
  font-family: 'Noto Sans JP', sans-serif;
}

a:not(.not-default) {
  text-decoration: none;
  word-break: break-all;
  &:link {
    color: $primary;
  }
  &:visited {
    color: $primary;
  }
  &:hover {
    color: $red;
    text-decoration: underline dotted;
  }
  &:active {
    color: $primary;
  }
}

.page-wrapper {
  @include media-query-page;
  margin-top: 40px;
}
