@import '@/styles/colors.scss';
@import '@/styles/mixins.scss';

body {
  margin: 0;
  background-color: $white;
  font-family: 'Noto Sans JP', sans-serif;
}

a:not(.not-default) {
  text-decoration: none;
  word-break: break-all;
  &:link {
    color: $primary;
  }
  &:visited {
    color: $primary;
  }
  &:hover {
    color: $red;
    text-decoration: underline dotted;
  }
  &:active {
    color: $primary;
  }
}

.page-wrapper-60 {
  @include media-query-page(20%, 5%);
  margin-top: 40px;
}

.page-wrapper-70 {
  @include media-query-page(15%, 5%);
  margin-top: 40px;
}

.page-wrapper-80 {
  @include media-query-page(10%, 5%);
  margin-top: 40px;
}

.page-wrapper-90 {
  @include media-query-page(5%, 5%);
  margin-top: 40px;
}
