@import './colors.scss';

/* template */
@mixin media-query-page($desktop, $mobile) {
  /* desktop */
  @media (min-width: 750px) {
    margin-left: $desktop;
    margin-right: $desktop;
  }
  /* mobile */
  @media (max-width: 749px) {
    margin-left: $mobile;
    margin-right: $mobile;
  }
}
@mixin centering() {
  display: flex;
  justify-content: center;
}

@mixin centering3d() {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin simple-button($color) {
  font-weight: bold;
  border-radius: 50px;
  border: 2px solid $color;
  color: $color;
  padding: 2px 8px 4px 8px;
}

@mixin simple-linked-button($color) {
  text-decoration: none !important;
  color: $color !important;
  &:hover {
    color: $red !important;
    text-decoration: underline dotted !important;
  }
}

@mixin add-shadow(){
  box-shadow: 1px 1px 2px $grey;
}
