@import './colors.scss';

/* template */
@mixin media-query-page() {
  /* desktop */
  @media (min-width: 750px) {
    margin: 20px 25% 0 25%;
  }
  /* mobile */
  @media (max-width: 749px) {
    margin: 20px 5% 0 5%;
  }
}
@mixin centering() {
  display: flex;
  justify-content: center;
}

@mixin centering3d() {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin simple-button($color) {
  font-weight: bold;
  border-radius: 50px;
  border: 2px solid $color;
  color: $color;
  padding: 2px 8px 4px 8px;
}

@mixin simple-linked-button($color) {
  text-decoration: none;
  color: $color;
  &:hover {
    color: $red;
    text-decoration: underline dotted;
  }
}
