@import '@/styles/mixins.scss';

.footer {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 1rem;
  margin-top: 2rem;
  p {
    margin: 0.2rem 0;
  }
  * {
    @media (max-width: 749px) {
      font-size: small;
    }
  }
  hr {
    width: 100%;
  }
}
