@import '@/styles/mixins.scss';
@import '@/styles/colors.scss';

.card {
  background-color: $background-card;
  border-radius: 0.5rem;
  padding: 1rem 1rem 0.5rem 1rem;
  max-width: 200px;
  @include add-shadow();

  p {
    margin: 0;
    text-align: center;
  }
  img {
    width: 100%;
    height: auto;
    border: 1px solid $border-line;
    border-radius: 0.5rem;
  }
  &:hover {
    box-shadow: 1px 1px 2px black;
  }
}

.link {
  display: block;
  width: 200px;
}
